.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(30, 38%, 92%);
}

#main {
    /* background-color: black; */
    width: 1440px;
    height: 720px;
    color:hsl(228, 12%, 48%)
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%) //Price
- Cream: hsl(30, 38%, 92%) //Overroll background

### Neutral

- Very dark blue: hsl(212, 21%, 14%) //Title
- Dark grayish blue: hsl(228, 12%, 48%) //Description
- White: hsl(0, 0%, 100%) //Middle background

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat) //oneWord,Description,backgroundPrice,Button
- Weights: 500, 700 

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces) //Title,mainPrice
- Weights: 700
*/